@import "@/styles/_config.scss";

.Review_Quotes {
  padding: 10rem 0rem;
  width: 88vw;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1{
    font-size: 2.2rem;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #222222;
    display:flex;
    align-items: center;
    @media (max-width: 900px) {
      font-size: 2.2rem;
      font-weight: 700;
      font-size: 40px;
      line-height: 110%;
      color: #222222;
      display: flex;
      align-items: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 5rem;
    }
  }
  @media (max-width: 1000px) {
    width: 95vw;
    padding: 0rem 0rem 10rem 0;
  }

  @media (max-width: 500px) {
    width: 98vw;
    padding: 0rem 0rem 10rem 0;
  }

  .review_container{
    width: 100%;

    // width: 50rem;
    // height:  40rem;
    // position: relative;
    // height: 100rem;
    // background-image: url(../../Images/review_container.svg);    

    image{

    }
  }
  .BlockCollection {
    height: 100%;
    width: 100%;
    display: flex;
    transition: 0.65s;

  }

  .SingleBlock {
    width: 45%;
    transition: 1000ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @media (max-width: 1000px) {
      grid-template-columns: auto;
    }
  }

  .col1 {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      justify-content: center;
    }

    .Review_Quotes_Image {
      width: 70%;
      max-width: 280px;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 10px;
    }
  }

  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #595959;

    @media (max-width: 1000px) {
      width: 100%;
      align-items: center;

      & > * {
        width: 80%;
      }
    }

    .Identity {
      font-size: 1.5rem;
      font-weight: 900;
      color: #74767e;
      margin-bottom: 1rem;
    }

    .Data {
      color: #003912;
      font-weight: 900;
      font-size: 1.5rem;
      font-style: italic;
      //   font-family: $gilroy-bold-italic;

      @media (max-width: 920px) {
        color: #003912;
        font-weight: 900;
        font-size: 1.0rem;
        font-style: italic;
      }
    }
  }

  button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // background-color: white;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: large;
    // color: black;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      border: none;
      outline: none;
    }
    div {
      position: relative;

      width: 100%;
      height: 100%;

      img {
        // filter: invert(1);
        // rotate: 180deg;
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 550px){
      width: 70px;
      height: 70px;
    }
  }

  .PrevButton {
    left: 5px;
  }

  .NextButton {
    right: 5px;
    img {
      // rotate: 0deg;
    }
  }
}


.game_underlline{
  position: absolute;
  bottom: 0;
  top: 4rem;
  right: 0rem;

  @media (max-width: 900px){
    display: none;
  }
}

.review_block{
  width: 100vh;
}
.review_image{
  position: absolute;
  left: 0;
  z-index: 55;
  width: 100%;
}

.reviwe_owner{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.reviwe_owner div h2{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
  margin: 0;
}
.reviwe_owner div p{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #222222;
}
@media (max-width: 950px){
  .review_profile{
    width: 50px;
    height: 50px;
  }
  .reviwe_owner div h2{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #222222;
    margin: 0;
  }
  .reviwe_owner div p{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin: 0;
    color: #222222;
  }
  .review_image{
    position: absolute;
    left: 0;
    z-index: 55;
    width: 110%;
  }
}

@media (max-width: 550px){
  .review_image{
    display: none;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #595959;

    @media (max-width: 550px) {
      width: 100%;
      align-items: center;

      & > * {
        width: 50% !important;
      }
    }
    .Data {
      color: #003912;
      font-weight: 900;
      font-size: 1rem;
      font-style: italic;
      //   font-family: $gilroy-bold-italic;
    }
  }
}
@media (max-width: 1020px){
  .review_image{
    position: absolute;
    left: 0;
    z-index: 55;
    width: 110%;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80% !important;
    font-family: "Kalam";
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 38px;
    color: #595959;

    .Data {
      color: #003912;
      font-weight: 900;
      font-size: 1rem !important;
      font-style: italic;
      //   font-family: $gilroy-bold-italic;
    }
  }
}