@import "@/styles/_config.scss";

.HeroSection {
  padding: 2rem 5vw 5rem 5vw;
  //   color: white;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: calc(85vh - $NavbarHeight);
  //   background-color: #6a49da;
  overflow: hidden;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    margin: 1rem 0;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: $gilroy-bold;
    width: 100%;
  }

  h2 {
    margin: 0.5rem 0 1rem 0;
    color: #666c7e;
    // color: #dcdde2;
    font-size: 1.15rem;
    line-height: 1.65rem;
    word-spacing: 0.2rem;
    width: 80%;
    text-align: justify;
  }
}

.JoinInput {
  color: black;
  background-color: #e8eef6;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  //   margin-left: 1.5rem;
  display: flex;
  width: fit-content;
  padding: 0.5rem;

  div {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
  }

  input {
    margin-left: 0.1rem;
    width: 130px;
    padding-right: 0.4rem;
    align-items: center;
    font-size: medium;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    // width: 20px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  button {
    background-color: #582be8;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0.65rem 0.8rem;
    font-size: 1rem;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.col2 {
  align-items: center;
  justify-content: baseline;

  .HeroImage {
    width: 80%;
    height: 80%;
  }
}


.app__login_popup{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.37);
  z-index: 200;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  animation: profile_signup_appear__tStMA .5s ease-in-out;
  position: fixed;
}
.popup_model{
  display: flex;
  width: 828px;
  height: 407px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  border-radius: 16px;
  flex-direction: column;
  position: relative;
}

.popup_close{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  cursor: pointer;
}
.login_block1{
  display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.login_block1 h3{
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;;
}
.login_block1 h1{
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.login_block1 p{
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 160%;
}
.login_block2{
  display: flex;
    justify-content: center;
    align-items: center;
}
.login_profile{
  background: #eeeff2;
  border-radius: 100%;
}
.login_profile img{
  width: 80px;
  height: 80px;
  padding: 25px;
}
.loign_container{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loign_container1{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid hsla(0,0%,50%,.226);
}

@media (max-width: 1020px) {
  .popup_model{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    flex-direction: column;
    position: relative;
  }
  .block2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 0;
  }
  .loign_container1{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid hsla(0, 0%, 50%, 0.226);
  }
  .loign_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}


.app__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.block1{
  margin-top: 3rem;
  width: 80%;
}
.block1 div{
  width: 3rem;
  font-weight: 700;
  color: #AC47FF;
  font-style: normal;
  font-size: 24px;
  line-height: 110%;
  text-decoration: none;
}
.block2{
  /* background-color: #7b7b7b; */
  height: 100vh;
  width: 71%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline{
  color: #232323;
  font-family: Karla,sans-serif;
  font-style: normal;
  font-weight: 700;
  
  font-size: 16px;
  line-height: 110%;
  padding: 15px 30px;
  background-color: #f7edff;
  border-radius: 30px;
  margin-bottom: 1rem;
  white-space: nowrap;

  @media (max-width: 450px){
    font-size: 13px;
  }
}
.mainHeadline{
    margin-bottom: 1rem;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 125%;
    text-align: center;
    color: #222222;
    @media (max-width: 1250px){
      width: 107%;
      margin: 0;
    }
}
.waitlist_pic{
  color: #ac47ff;
  position: relative;
}
.span_image{
  position: absolute;
}
.span_image:first-child{
  transform: translate(-80%,-100%);
}
.lineImage{
  position: absolute;
  left: 0rem;
}
.span_image:last-child{
  top: 0;
  right: -15%;
}
.block3{
  border: 3px solid #ac47ff;
  height: 50px;
  width: 400px;
  border-radius: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 2rem;
  cursor: pointer;
}
.block3 input{
  outline: none;
  font-size: 16px;
  border: none;
  padding-left: 1.5rem;
  width: calc(100% - 2rem);
}
.subheadline{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #595959;
  margin: 0;
  position: relative;
}
.block3 button{
    font-size: 16px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: #ac47ff;
    color: #fff;
    border-radius: 30px;
}
.joinWaitlistImage{
  position: absolute;
  right: 10rem;
  bottom: 9rem;
}
.finalImage{
  position: absolute;
  left: 5%;
  bottom: 2rem;
  @media (max-width: 1250px){
    width: 29%;
    bottom: 0rem;
  }
}
.launch_span{
  color: #AC47FF;
}
@media (max-width: 1300px) {
  .joinWaitlistImage{
    position: absolute;
    right: 8rem;
    bottom: 1rem;
  }
  .block2{
    width: 75%;
  }
}
@media (max-width: 1230px) {
  .joinWaitlistImage{
    position: absolute;
    right: 5rem;
    bottom:3rem;
  }
  .block2{
    width: 75%;
  }
}
@media (max-width: 1000px) {
  .joinWaitlistImage{
    display: none;
  }
}
@media (max-width: 1200px) {
  .span_image:last-child{
    display: none;
  }
  .block2{
    width: 100%;
  }
  .finalImage{
    display: none;
  }
  .joinWaitlistImage{
    display: none;
  }
  .mainHeadline{
    width: 100%;
    margin: 0;
    font-size: 50px;
  }
  .lineImage{
    width: 11rem;
  }
  .login_block2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .game_underlline{
    display: none;
  }
}
@media (max-width: 850px){
  .block2 {
    /* background-color: #7b7b7b; */
    height: 100vh;
    width: 65%;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


}
@media (max-width: 600px){
  .block2{
    width: 100%;
  }
  .mainHeadline{
    width: 100% !important;
    font-size: 55px;
    margin-bottom: -1rem;
  }
  .block2 {
    /* background-color: #7b7b7b; */
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .span_image:first-child{
    transform: translate(-50%,-100%);
  }
  .lineImage{
    width: 10rem;
  }
  .mainHeadline p{
    display: flex;
    flex-direction: column;
  }
  .block3{
    border: 3px solid #ac47ff;
    height: 50px;
    width: 317px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .headline{
    margin-top: -11rem;
  }
  .login_block2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .waitlistDiv{
    min-width: 10rem;
    height: 100%;
    text-align: start;
    align-items: center;
    display: flex;
    padding: 0 2rem;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 600;
    overflow: scroll;
  }
  .oppo_arrow{
    display: none;
  }
}
.waitlistDiv{
  min-width: 10rem;
  height: 100%;
  text-align: start;
  align-items: center;
  display: flex;
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.waitlistDiv input{
  min-width: 10rem;
  height: 100%;
  text-align: start;
  align-items: center;
  display: flex;
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.correctly_underline{
  position: absolute;
  bottom: 0;
  top: 2rem;
  right: 0rem;
}
.game_underlline{
  position: absolute;
  bottom: 0;
  top: 5.5rem;
  right: 1rem;
}
.oppo_arrow{
  position: absolute;
  right: -35rem;
  top: 0;
  @media (max-width: 1250px){
    display: none;
  }
}

@media (max-width: 450px){
  .mainHeadline{
    font-size: 45px;
  }
  .subheadline{
    font-size: 20px;
  }
}