@import "@/styles/_config.scss";

.app__login_popup{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.37);
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    animation: profile_signup_appear__tStMA .5s ease-in-out;
    position: fixed;
}
.popup_model{
    display: flex;
    width: 828px;
    height: 407px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 16px;
    flex-direction: column;
    position: relative;
}

.popup_close{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    cursor: pointer;
}