@import "@/styles/_config.scss";

.Navbar {
  width: 90vw;
  // max-width: 95vw;
  margin: auto auto;
  padding: 1.2rem 2.5vw;
  display: flex;
  align-items: center;
  // position: fixed;
}
.nav_tags{
  display: flex;
  gap: 2rem;
  margin-left: 3rem;
}
.nav_tags a{
  text-decoration: none;
  color: #000;
}
.nav_tags h4{
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}
.nav_tags h4:hover{
  color: #582be8;
}
.Logo a{
  font-family: $Exo2Font;
  color: $primary-purple;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.02em;
  white-space: nowrap;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}

.SearchBox {
  background-color: #e8eef6;
  border-radius: 30px;
  overflow: hidden;
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  margin-left: 2rem;
  display: flex;

  input {
    font-size: medium;
    background-color: transparent;
    border: none;
    outline: none;
    width: 250px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  button {
    background-color: #582be8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    // aspect-ratio: 1/1;
    border: none;
    outline: none;
    border-radius: 50%;

    &:focus {
      border: none;
      outline: none;
    }

    img {
      filter: invert(1);
    }
  }
}

.NavButtons {
  margin-left: auto;
  //   background-color: red;

  .JoinButton {
    background-color: #582be8;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.08rem;
    transition: 250ms;

    &:hover {
      //   background-color: #3fbe87;
      scale: 1.05;
    }
  }
  .JoinedButton {
    background-color: #582be8;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.08rem;
    transition: 250ms;
  }
}


@media (max-width: 1020px) {
  .nav_tags{
    display: none;
  }
  .login_block2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}


.app__login_popup{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.37);
  z-index: 200;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  animation: profile_signup_appear__tStMA .5s ease-in-out;
  position: fixed;
}
.popup_model{
  display: flex;
  width: 828px;
  height: 407px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  border-radius: 16px;
  flex-direction: column;
  position: relative;
}

.popup_close{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  cursor: pointer;
}
.login_block1{
  display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.login_block1 h3{
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;;
}
.login_block1 h1{
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.login_block1 p{
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 160%;
}
.login_block2{
  display: flex;
    justify-content: center;
    align-items: center;
}
.login_profile{
  background: #eeeff2;
  border-radius: 100%;
}
.login_profile img{
  width: 80px;
  height: 80px;
  padding: 25px;
}
.loign_container{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loign_container1{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid hsla(0,0%,50%,.226);
}

@media (max-width: 1020px) {
  .popup_model{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    flex-direction: column;
    position: relative;
  }
  .block2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 0;
  }
  .loign_container1{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid hsla(0, 0%, 50%, 0.226);
  }
  .loign_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
