@import "@/styles/_config.scss";

.Footer {
  padding: 4rem 5vw;
  background-color: #252525;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-family: $Exo2Font;
  color: #b765fb;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.02em;
  white-space: nowrap;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}
.block3{
  border: 3px solid #ac47ff;
  height: 50px;
  width: 300px;
  border-radius: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 70% 30%;

}
.block3 input{
  outline: none;
  font-size: 16px;
  border: none;
  padding-left: 1.5rem;
  width: calc(100% - 2rem);
}
.block3 button{
    font-size: 16px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: #ac47ff;
    color: #fff;
    border-radius: 30px;
}
.waitlistDiv{
  min-width: 5rem;
  height: 100%;
  text-align: start;
  align-items: center;
  display: flex;
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.waitlistDiv input{
  min-width: 5rem;
  height: 100%;
  text-align: start;
  align-items: center;
  display: flex;
  color: white;
  background-color: transparent;
  padding: 0 0rem;
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 600px){
  .Footer {
    padding: 4rem 5vw;
    background-color: #252525;
    color: white;
    gap: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.socialIcon{
  color: white;
  transition: 0.4s;
}
.socialIcon:hover{
  color: #ac47ff;
}