@import "@/styles/_config.scss";


.app__whyus{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.whyus_line{
    position: absolute;
    bottom: 15px;
    left: -9px;
    @media (max-width: 570px) {
        bottom: 15px;
        left: 5px;
      }
}
.whyus_block2 h1{
    position: relative;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #222222;
    white-space: nowrap;
    width: 40%;
}
.whyus_block2 p{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #868686;
    width: 80%;
}
.whyus_block1{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.whyus_block2{
    width: 50%;
    margin-top: 3rem;
    margin-left: -10rem;
}
.video{
    width: 365px;
    height: 600px;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
  }
.video_h2 h2{
    position: absolute;
    z-index: 55;
    color: white;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;
    margin-left: 4rem;
  }
.video_h2{
    width: 100%;
    display: flex;
    position: absolute;
    top: 1.4rem;
    left: 5%;
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
.video_h2 image{
    z-index: 5;
  }
.btn_prev , .btn_next{
    background: #E3E3E3;
    border-radius: 20px;    
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #595959;
    cursor: pointer;
}
@media (max-width: 1050px) {
    .app__whyus{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .whyus_block2{
        width: 50%;
        margin-top: 3rem;
        margin-left: 0rem;
    }
    .whyus_block2 p{
        width: 100%;
    }
    .whywe_prop{
        display: none;
    }
}
@media (max-width: 576px) {
    .whyus_block1{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .video{
        width: 78%;
        height: 600px;
        border-radius: 20px;
        object-fit: cover;
        position: relative;
    }
    .video_div{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .video_h2 h2{
        position: absolute;
        z-index: 55;
        color: white;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 110%;
        color: #FFFFFF;
        margin-left: 4rem;
      }
      .whyus_block2 h1{
        font-size: 56px;
      }
      .whyus_line{
        position: absolute;
        width: 115%;
    }
    .whyus_block2{
        width: 75%;
        margin-top: 3rem;
        margin-left: 0;
      }
    .whyus_block2 p{
        font-family: "Karla";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        color: #868686;
        width: 100%;
        text-align: center;
    }
    .video_h2{
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 5%;
        margin-top: 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
      }
}

@media (max-width: 476px){
    .video{
        width: 90%;
        height: 600px;
        border-radius: 20px;
        object-fit: cover;
        position: relative;
    }
    .video_h2 h2{
        width: 65%;
        position: absolute;
        z-index: 55;
        color: white;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 110%;
        color: #FFFFFF;
        margin-left: 4rem;
      }
      .video_h2{
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 5%;
        margin-top: 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
      }
      .whyus_block2{
        width: 75%;
        margin-top: 3rem;
        margin-left: 0;
      }
      .whyus_block2 h1{
        width: 100%;
        font-size: 56px;
        white-space:normal;
      }
      .whyus_block2 p{
        font-family: "Karla";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        color: #868686;
        width: 100%;
        text-align: center;
    }
    .whyus_line{
        position: absolute;
        bottom: 93px;
        left: 55px;
        width: 60%;
    }
}



.whywe_prop{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 75%;
}

.instaFeed{
    width: 365px;
    height: 600px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 15.25%), #AC47FF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1{
        width: 90%;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;

        /* Primary white */

        color: #FFFFFF;
    }
}
.video_div{
    // width: 100%;
}
.feed_navigation{
    position: absolute;
    z-index: 55;
    color: white;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    top: 0;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;
    margin-left: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    gap: 5px;
    left: 0;
    hr{
        position: relative;
        width: 100%;
        height: 3px;
        left: 20px;
        top: 10px;
        background: #6f6f6f;
        opacity: 0.5;
        border-radius: 10px;
    }
}
